[Unit]
Description=qbiff mail notification daemon
After=syslog.target

[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/qbiff
Restart=on-failure
ExecStart=/usr/bin/qbiff-server

